<a href="https://colab.research.google.com/github/I-ULISES-I/Colabfiles/blob/main/Pr%C3%A1ctica_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica #14. Limpieza y Transformación de Datos Categóricos**

In [58]:
#Importación de la librería Pandas.
import pandas as pd

#Carga del archivo.
df = pd.read_csv('drive/MyDrive/ClassFiles/nls97.csv',index_col=0)

# Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

In [59]:
#Impresión de los valores únicos.
print(df['maritalstatus'].unique())

#Impresión de la frecuencia de los valores únicos.
print(df['maritalstatus'].value_counts())

#Cambio de los valores.
df['maritalstatus'] = df['maritalstatus'].replace('Never-married', 'Single')

#Impresión de la frecuencia de los valores únicos.
print(df['maritalstatus'].value_counts())

['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

# Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree

In [60]:
#Impresión de los valores únicos.
print(df['highestdegree'].unique())

#Impresión de la frecuencia de los valores únicos.
print(df['highestdegree'].value_counts())

#Modificación de las categorías.
df['highestdegree'] = df['highestdegree'].str.lower().replace({r'[0-9]\.? ': ''}, regex=True)

#Impresión de los valores únicos.
print(df['highestdegree'].unique())

['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]
highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64
['high school' 'none' 'bachelors' 'associates' 'masters' 'ged'
 'professional' 'phd' nan]

# Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas.

In [61]:
#Unión de las categorías y creación de la columna.
df['marital_grouped'] = df['maritalstatus'].replace({'Widowed': 'Single/No Partner', 'Single': 'Single/No Partner'})

#Impresión de los valores únicos.
print(df['marital_grouped'].unique())

#Impresión de la frecuencia de los valores únicos.
print(df['marital_grouped'].value_counts())

['Married' 'Single/No Partner' nan 'Divorced' 'Separated']
marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

# Ejercicio 04: Tipos de Datos.

In [62]:
#Impresión del tipo de dato.
print(df['gender'].dtypes)

#Impresión de la cantidad de bytes.
print(df['gender'].memory_usage(deep=True))

#Modificación del tipo de dato.
df['gender'] = df['gender'].astype('category')

#Impresión de la cantidad de bytes.
print(df['gender'].memory_usage(deep=True))

object
628666
81088