<a href="https://colab.research.google.com/github/I-ULISES-I/Colabfiles/blob/main/Pr%C3%A1cticas_13_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica #13: Carga de Datos**

In [104]:
#Importación de la librería Pandas.
import pandas as pd

#Carga del archivo, omitiendo la última fila.
df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv', skipfooter=1, engine='python')

#Impresión de las últimas 3 filas.
print(df.tail(3))

#Impresión de la cantidad de filas y columnas.
print(df.shape)

       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]
(84548, 22)

# **Práctica #14: Agregar una Columna**

In [105]:
#Impresión del nombre de las columnas.
print(df.columns)

#Renombramiento de la primera columna.
df.rename(columns={'Unnamed: 0': 'INDEX MIIAD'}, inplace=True)

#Impresión del nombre de las columnas.
print(df.columns)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# **Práctica #15: Normalización de los Nombres de la Columna**

In [106]:
#Normalización del nombre de las columnas.
df.columns = df.columns.str.lower().str.replace(' ', '_')

#Impresión del nombre de las columnas.
print(df.columns)

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# **Práctica #16: Errores en los Tipos de Datos**

In [107]:
#Impresión de los tipos de datos de las columnas.
print(df.dtypes)

#Impresión de los tipos de datos de columnas específicas.
print("La columna sale_price tiene tipo de dato asignado:", df['sale_price'].dtype)
print("La columna land_square_feet tiene tipo de dato asignado:", df['land_square_feet'].dtype)
print("La columna gross_square_feet tiene tipo de dato asignado:", df['gross_square_feet'].dtype)

#Conversión de los tipos de datos de columnas específicas.
df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')
df['sale_price'] = df['sale_price'].astype(float)
df['land_square_feet'] = df['land_square_feet'].astype(float)
df['gross_square_feet'] = df['gross_square_feet'].astype(float)

#Impresión de los tipos de datos de las columnas.
print(df.dtypes)

index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object
La columna sale_price tiene tipo de dato asignado: object
La columna land_square_feet tiene tipo de dato asignado: object
La columna gross_square_feet tiene tipo de dato asignado: object
index_miiad                         int64
borough                             int64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                               int64
lot                                 int64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                            int64
residential_units                   int64
commercial_units                    int64
total_units                         int64
land_square_feet                  float64
gross_square_feet                 float64
year_built                          int64
tax_class_at_time_of_sale           int64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

# **Práctica #17: Genera el Diccionario de Datos del Dataframe Preprocesado. Imprime el Contenido de dicho Diccionario**

In [108]:
#Creación del diccionario de datos.
diccionario_datos = pd.DataFrame({"Nombre de la columna": df.columns,
                                  "Tipo de dato": [str(df[columna].dtype) for columna in df.columns]})

#Impresión del diccionario de datos.
print(diccionario_datos)

              Nombre de la columna Tipo de dato
0                      index_miiad        int64
1                          borough        int64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block        int64
6                              lot        int64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code        int64
12               residential_units        int64
13                commercial_units        int64
14                     total_units        int64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built        int64
18       tax_class_at_time_of_sale        int64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object