<a href="https://colab.research.google.com/github/I-ULISES-I/Colabfiles/blob/main/Pr%C3%A1ctica_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Práctica #15. Datos Temporales**

In [31]:
#Importación de la librería Pandas.
import pandas as pd

# Ejercicio 01: Tipo de Datos Correcto.

In [32]:
#Carga del archivo y verificación del tipo de datos.
df = pd.read_csv('drive/MyDrive/ClassFiles/Airdata.csv')
print(df.dtypes)

#Conversión del tipo de dato.
df['DateTime'] = pd.to_datetime(df['DateTime'])

#Demostración del tipo de datos.
print(df.dtypes)

#Impresión de las primeras 3 líneas.
print(df.head(3))

DateTime           object
Temperature       float64
Humidity            int64
Wind_Speed        float64
Wind_Direction    float64
NO2_Location_A    float64
NO2_Location_B    float64
NO2_Location_C    float64
dtype: object
DateTime          datetime64[ns]
Temperature              float64
Humidity                   int64
Wind_Speed               float64
Wind_Direction           float64
NO2_Location_A           float64
NO2_Location_B           float64
NO2_Location_C           float64
dtype: object
             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C
0           39.23           52.88           62.37
1           38.30           44.95           52.53
2             NaN           48.40           54.80

# Ejercicio 02: Extraer Componentes de Fecha y Tiempo.

In [33]:
#Extracción de los componentes y creación de las nuevas columnas.
df['Año'] = df['DateTime'].dt.year
df['Mes'] = df['DateTime'].dt.month
df['Día'] = df['DateTime'].dt.day
df['Hora'] = df['DateTime'].dt.hour

#Impresión de las primeras 3 líneas.
print(df.head(3))

             DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
0 2020-01-01 00:00:00     2.180529        87    1.484318        75.96376
1 2020-01-01 01:00:00     1.490529        89    2.741678       113.19859
2 2020-01-01 02:00:00     1.690529        85    3.563818       135.00000

   NO2_Location_A  NO2_Location_B  NO2_Location_C   Año  Mes  Día  Hora
0           39.23           52.88           62.37  2020    1    1     0
1           38.30           44.95           52.53  2020    1    1     1
2             NaN           48.40           54.80  2020    1    1     2

# Ejercicio 03: Aritmética - Suma de Intervalos (timedelta).

In [34]:
#Operación de suma y creación de la nueva columna.
df['Suma_Intervalos'] = df['DateTime'] + pd.Timedelta(days=10, hours=7, minutes=15)

#Impresión de las columnas.
print(df[['DateTime', 'Suma_Intervalos']])

                DateTime     Suma_Intervalos
0    2020-01-01 00:00:00 2020-01-11 07:15:00
1    2020-01-01 01:00:00 2020-01-11 08:15:00
2    2020-01-01 02:00:00 2020-01-11 09:15:00
3    2020-01-01 03:00:00 2020-01-11 10:15:00
4    2020-01-01 04:00:00 2020-01-11 11:15:00
...                  ...                 ...
8779 2020-12-31 19:00:00 2021-01-11 02:15:00
8780 2020-12-31 20:00:00 2021-01-11 03:15:00
8781 2020-12-31 21:00:00 2021-01-11 04:15:00
8782 2020-12-31 22:00:00 2021-01-11 05:15:00
8783 2020-12-31 23:00:00 2021-01-11 06:15:00

[8784 rows x 2 columns]

# Ejercicio 04: Timestamp.

In [35]:
#Conversión del formato y creación de la nueva columna.
df['Timestamp_Unix'] = pd.to_datetime(df['DateTime']).astype('int64') // 10**9

#Impresión de las primeras 3 filas.
print(df[['DateTime', 'Timestamp_Unix']].head(3))

             DateTime  Timestamp_Unix
0 2020-01-01 00:00:00      1577836800
1 2020-01-01 01:00:00      1577840400
2 2020-01-01 02:00:00      1577844000

# Ejercicio 05: Filtrado de Fechas.

In [36]:
#Filtración de fechas.
df = df[df['DateTime'] > '2020-11-01']

#Impresión del resultado.
print(df)

                DateTime  Temperature  Humidity  Wind_Speed  Wind_Direction  \
7321 2020-11-01 01:00:00    13.620529        58    6.638072       130.60129
7322 2020-11-01 02:00:00    13.980529        40    6.618519       157.61987
7323 2020-11-01 03:00:00    13.010529        43    8.209263       164.74487
7324 2020-11-01 04:00:00    12.190529        51    7.568566       154.65382
7325 2020-11-01 05:00:00    12.510529        59    7.594208       148.57043
...                  ...          ...       ...         ...             ...
8779 2020-12-31 19:00:00     4.920528        72    4.553680       251.56506
8780 2020-12-31 20:00:00     4.990529        74    3.259939       186.34020
8781 2020-12-31 21:00:00     4.360529        84   10.587917       252.18112
8782 2020-12-31 22:00:00     3.820528        88    8.435069       219.80557
8783 2020-12-31 23:00:00     3.170529        89    6.792466       212.00539

      NO2_Location_A  NO2_Location_B  NO2_Location_C   Año  Mes  Día  Hora  \
7321           17.50           23.88           44.07  2020   11    1     1
7322           13.38           18.92           35.80  2020   11    1     2
7323           11.95           13.95           30.15  2020   11    1     3
7324           10.10           14.35           31.45  2020   11    1     4
7325           10.30           14.42           32.55  2020   11    1     5
...              ...             ...             ...   ...  ...  ...   ...
8779           53.44           32.65           66.82  2020   12   31    19
8780           49.80           34.03           67.31  2020   12   31    20
8781           43.32           25.55           59.33  2020   12   31    21
8782           39.88           19.90           43.70  2020   12   31    22
8783           39.04           30.33           46.87  2020   12   31    23

         Suma_Intervalos  Timestamp_Unix
7321 2020-11-11 08:15:00      1604192400
7322 2020-11-11 09:15:00      1604196000
7323 2020-11-11 10:15:00      1604199600
7324 2020-11-11 11:15:00      1604203200
7325 2020-11-11 12:15:00      1604206800
...                  ...             ...
8779 2021-01-11 02:15:00      1609441200
8780 2021-01-11 03:15:00      1609444800
8781 2021-01-11 04:15:00      1609448400
8782 2021-01-11 05:15:00      1609452000
8783 2021-01-11 06:15:00      1609455600

[1463 rows x 14 columns]